<mat-nav-list fxLayout="column">
  <div fxFlex>
    <ul>
      <li>
        <a mat-list-item routerLink="/">
          Home
        </a>
      </li>
      <li>
        <a mat-list-item routerLink="/task2">
          Education
        </a>
      </li>
      <li>
        <a mat-list-item routerLink="/tips">
          Skills
        </a>
      </li>
      <li>
        <a mat-list-item routerLink="/courses">
          Working Experience
        </a>
      </li>
      <li>
        <a mat-list-item routerLink="/materials">
          Project Portfolio
        </a>
      </li>
      <li>
        <a mat-list-item href="../../assets/CV/Xu Jiang.pdf" target="_blank" >
          Download CV
        </a>
      </li>
    </ul>
  </div>
</mat-nav-list>
