<mat-toolbar color="primary" fxLayout>
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidnav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <button class="name-tag" mat-flat-button routerLink="/task1" color="primary">Xu Jiang
    </button>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="end stretch" fxHide.lt-md>
    <ul fxLayout="row">
      <li>
        <button mat-flat-button routerLink="/" color="primary">Home
        </button>
      </li>
      <li>
        <button mat-flat-button routerLink="/task2" color="primary">Education
        </button>
      </li>
      <li>
        <button mat-flat-button routerLink="/tips" color="primary">Skills
        </button>
      </li>
      <li>
        <button mat-flat-button routerLink="/courses" color="primary">Working Experience
        </button>
      </li>
      <li>
        <button mat-flat-button routerLink="/materials" color="primary">Project Portfolio
        </button>
      </li>
      <li>
        <a mat-flat-button color="primary" href="../../assets/CV/Xu Jiang.pdf" target="_blank">Download CV
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
