:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 200px;
}

mat-drawer-content {
  padding: 20px 20px 20px 20px;
  width: 100%;
}

mat-drawer-container,
mat-drawer,
mat-drawer-content {
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    color: lightgray;
    cursor: pointer;
  }
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
