<div class="home-container" fxLayout fxLayoutGap="10px" fxLayoutAlign="center stretch">
  <div fxFlex="40" fxHide.lt-md class="image-container"></div>
  <div
  fxFlex
  class="home-text-container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutAlign.lt-md="center center"
  fxLayoutGap="30px">
    <h1 class="mat-display-4">Hi, I'm Xu Jiang</h1>
    <P class="title">Angular Web Developer</P>
    <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet repudiandae quaerat impedit. Aliquid doloribus laboriosam inventore dicta, ut laudantium in tempora vitae explicabo et possimus maxime fuga voluptates modi id.</p>
    <div class="home-action-wrapper" fxLayout fxLayoutGap="30px">
      <a mat-raised-button class="home-btn" color="primary">Know More</a>
      <a
      mat-raised-button
       class="home-btn"
        color="primary"
        href="../../assets/CV/Xu Jiang.pdf" target="_blank">Download CV</a>
    </div>
  </div>
</div>
