<div class="home-container" fxLayout fxLayoutGap="30px" fxLayoutAlign="center stretch">
  <div fxFlex="40" class="image-container">111</div>
  <div
  fxFlex="40"
  class="home-text-container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="40px">
    <h1 class="greeting">Hi, I'm</h1>
    <h1 class="name">Xu Jiang</h1>
    <P class="title">Angular Web Developer</P>
    <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet repudiandae quaerat impedit. Aliquid doloribus laboriosam inventore dicta, ut laudantium in tempora vitae explicabo et possimus maxime fuga voluptates modi id.</p>
    <div class="home-action-wrapper" fxLayout fxLayoutGap="30px">
      <button mat-raised-button color="primary">Know More</button>
      <button mat-raised-button color="primary">Download CV</button>
    </div>
  </div>
</div>
